
h1{
	color:#ff3300;
	font-family:Impact;
	font-size:75px;
}
h2{
	color:#0000ff;
	font-family:Verdana;
	font-size:40px;
}
h3{
	color:#ff0000;
	font-family:Verdana;
	font-size:30px;
}
h4{
	color:#009933;
	font-family:Verdana;
	font-size:20px;
}